.info{
    background-color: rgba(173, 216, 230, 0.507);
    border-radius: 15px;
    margin: 2em;
    padding-bottom: 2rem;
}

.info h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 350%;
    padding-bottom: 4rem;
    padding-top: 2rem;
}

.data{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 130%;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 1em;
    padding-bottom: 2rem;
    background-color: rgba(103, 116, 122, 0.52);
    border-radius: 7px;
    margin: 2em;
}

.image img{
    border: solid 4px rgb(14, 35, 54);
    border-radius: 5px;
    box-shadow: 15px 10px rgb(69, 111, 126);
}

@media screen and (max-width: 600px) {
    .data{
        margin: 1em;
        font-size: 110%;
        grid-template-columns: auto auto;
    }
}

.error{
    padding: 2rem;
    background-color: rgba(103, 116, 122, 0.52);
    margin: 2em;
    border-radius: 7px;
}